@font-face {
    font-family: 'Core-Sans-N45-Regular';
    src: url("../fonts/Core Sans N 45 Regular.eot");
    src: url("../fonts/Core Sans N 45 Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Core Sans N 45 Regular.woff") format("woff"),
    url("../fonts/Core Sans N 45 Regular.ttf") format("truetype"),
    url("../fonts/Core Sans N 45 Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Core-Sans-N65-Bold';
    src: url("../fonts/Core Sans N 65 Bold.eot");
    src: url("../fonts/Core Sans N 65 Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Core Sans N 65 Bold.woff") format("woff"),
    url("../fonts/Core Sans N 65 Bold.ttf") format("truetype"),
    url("../fonts/Core Sans N 65 Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Base';
    src: url("../fonts/AvenirNextCyr-Regular.eot");
    src: url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirNextCyr-Regular.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}