@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 950px) {
    .header {
        min-height: 850px;
    }
    .header .col-2 .info .text .text--color {
        color: #000;
    }
    .header .col-2 {
        flex-wrap: wrap;
        align-items: stretch;
    }
    .header .col-2 .avatar {
        max-width: 300px;
        padding: 160px 0 0 0;
        margin: 0 auto;
        min-height: 410px;
        box-sizing: padding-box;
    }
    .header .col-2 .info {
        max-width: none;
        width: 80%;
        margin: 0 auto;
        padding: 40px 0 100px 0;
    }
    .header .col-2 .avatar .img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 0 30px #764DFA, 0 0 0 100px #fff, 0 0 0 110px #764DFA;
        animation-name: colobok;
        animation-duration: 6s;
    }
    .btn-scroll-down {
        bottom: 55px;
    }
}
@media screen and (max-width: 900px) {
    .nav .menu {
        display: none;
    }
    .btn-burger {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .header {
        min-height: 765px;
    }
    .header .col-2 .avatar {
        min-height: auto;
        padding: 110px 0 0 0;
    }
    .header .col-2 .info {
        width: 100%;
    }
    .header .col-2 .avatar .img {
        box-shadow: 0 0 0 30px #764DFA, 0 0 0 50px #fff;
        animation-name: colobok;
        animation-duration: 6s;
    }
    .btn-scroll-down {
        bottom: 70px;
    }
}
@media screen and (max-width: 560px) {
    .header .col-2 .avatar .img {
        box-shadow: 0 0 0 30px #764DFA;
    }
    .header {
        background: #fff;
    }
    .main-wrap {
        padding: 0 15px;
    }
    .header {
        height: auto;
        min-height: 650px;
    }
    .header .col-2 .info {
        padding: 0;
    }
    .header .col-2 {
        /*min-height: auto;*/
        min-height: 535px;
        height: auto;
    }
    .header .col-2 .avatar {
        max-width: 215px;
        padding: 90px 0 0 0;
    }
    .header .col-2 .info .text {
        font-size: 16px;
        text-indent: 20px;
        font-family: Core-Sans-N45-Regular, Arial, sans-serif;
    }
    .header .col-2 .info .text .hide {
        font-size: 22px;
    }
    .btn-scroll-down {
        bottom: 100px;
    }
    .header .col-2 .info .text .text--color {
        color: #764DFA;
    }
}
@media screen and (max-width: 360px) {
    .nav .col-2 .main-logo .name {
        font-size: 20px;
    }
}