@media screen and (max-width: 1024px) {
    .portfolio .list {
        margin: 0;
    }
    .portfolio .item .link:hover {
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .portfolio .item .link:hover .info {
        right: -65%;
    }
    .portfolio .btn-show-more:hover:after,
    .portfolio .btn-show-more:hover::before {
        opacity: 0;
    }
}
@media screen and (max-width: 950px) {
    .header {
        min-height: 960px;
    }
    .header .col-2 .info .text .text--color {
        color: #000;
    }
    .header .col-2 {
        flex-wrap: wrap;
        align-items: stretch;
    }
    .header .col-2 .avatar {
        max-width: 300px;
        padding: 160px 0 0 0;
        margin: 0 auto;
        min-height: 410px;
        box-sizing: padding-box;
    }
    .header .col-2 .info {
        max-width: none;
        width: 80%;
        margin: 0 auto;
        padding: 40px 0 100px 0;
    }
    .header .col-2 .avatar .img {
        box-shadow: 0 0 0 30px #764DFA, 0 0 0 100px #fff, 0 0 0 110px #764DFA;
    }
    .header .col-2 .avatar .img:hover {
        box-shadow: 0 0 0 30px #fff, 0 0 0 100px #764DFA, 0 0 0 110px #fff;
    }
    .btn-scroll-down {
        bottom: 55px;
    }
}
@media screen and (max-width: 900px) {
    .nav .menu {
        display: none;
    }
    .btn-burger {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .header {
        min-height: 860px;
    }
    .header .col-2 .avatar {
        min-height: auto;
        padding: 110px 0 0 0;
    }
    .header .col-2 .info {
        width: 100%;
    }
    .header .col-2 .avatar .img {
        box-shadow: 0 0 0 30px #764DFA, 0 0 0 50px #fff;
    }
    .header .col-2 .avatar .img:hover {
        box-shadow: 0 0 0 30px #fff, 0 0 0 50px #764DFA;
    }
    .btn-scroll-down {
        bottom: 70px;
    }
    .portfolio .btn-show-more {
        width: 70px;
        margin: 30px auto 0 auto;
        height: 70px;
        line-height: 70px;
        font-size: 14px;
    }
}
@media screen and (max-width: 560px) {
    .header .col-2 .avatar .img {
        box-shadow: 0 0 0 30px #764DFA;
    }
    .header .col-2 .avatar .img:hover {
        box-shadow: 0 0 0 30px #764DFA;
    }
    .header {
        background: #fff;
    }
    .main-wrap {
        padding: 0 15px;
    }
    .header {
        height: auto;
        min-height: 712px;
    }
    .header .col-2 .info {
        padding: 50px 0 0 0;
    }
    .header .col-2 {
        min-height: auto;
        height: auto;
    }
    .header .col-2 .avatar {
        max-width: 215px;
        padding: 90px 0 0 0;
    }
    .header .col-2 .info .text {
        font-size: 16px;
        text-indent: 20px;
        font-family: Core-Sans-N45-Regular, Arial, sans-serif;
    }
    .header .col-2 .info .text .hide {
        font-size: 22px;
    }
    .btn-scroll-down {
        bottom: 100px;
    }
    .header .col-2 .info .text .text--color {
        color: #764DFA;
    }
    .h2-title {
        font-size: 20px;
    }
    .portfolio {
        margin: 75px 0 0 0;
    }
    .portfolio .item {
        width: 100%;
        margin: 30px 0 0 0;
    }
    .portfolio .item:nth-of-type(2n) {
        margin: 30px 0 0 0;
    }
    .portfolio .btn-show-more {
        margin: 20px auto 0 auto;
    }
}
@media screen and (max-width: 360px) {
    .nav .col-2 .main-logo .name {
        font-size: 20px;
    }
}