body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, p, blockquote, table, th, td, embed, object {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img, abbr {
    border: 0;
}
address, caption, cite, code, dfn, em,
h1, h2, h3, h4, h5, h6, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
ul {
    list-style-type: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1.0em;
}
q:before, q:after {
    content: '';
}
a, ins {
    text-decoration: none;
}
body {
    position: relative;
    font-family: Core-Sans-N45-Regular, Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 700px;
    position: relative;
    top: 0;
    left: 0;
    background: #764DFA;
}
.header:after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60%;
    min-width: 60%;
    height: 100%;
    min-height: 100%;
    background: #fff;
}
.main-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: padding-box;
    position: relative;
}
.header .col-2 {
    height: 100vh;
    min-height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    justify-content: space-between;
}
.header .col-2 .avatar {
    max-width: 320px;
    padding: 0 155px 0 135px;
}
.header .col-2 .avatar .img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 30px #764DFA,
                0 0 0 120px #fff,
                0 0 0 135px #764DFA;
    animation-name: colobok;
    animation-duration: 6s;
    transition: 1s;
}
.header .col-2 .avatar .img:hover {
    box-shadow: 0 0 0 30px #fff,
    0 0 0 120px #764DFA,
    0 0 0 135px #fff;
}
@keyframes colobok {
    from {transform: rotateY(-360deg);}
    50% {transform: rotateY(-180deg);}
    to {transform: rotateY(0deg);}
}
.header .col-2 .info {
    max-width: 600px;
    text-align: center;
}
.header .col-2 .info .text {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.25em;
    letter-spacing: 0.3px;
    text-indent: 15px;
    font-family: Base, Arial, sans-serif;
}
.header .col-2 .info .text .hide {
    font-size: 32px;
}
.text--color {
    color: #764DFA;
}
.header .quote-wrap {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #764DFA;
}
.header .list-quote {
    padding: 3.5px 0;
}
.header .list-quote .quote {
    color: #fff;
    display: block;
    font-family: Base, Arial, sans-serif;
}
.header .list-quote .quote .text,
.header .list-quote .quote .author {
    font-size: 16px;
 }
.header .list-quote .quote .author {
    margin: 5px 0 0 0;
    font-size: 14px;
}
.nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    background: #764DFA;
}
.nav .col-2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}
.nav .col-2 .main-logo {
    display: flex;
    align-items: center;
    color: #fff;
}
.nav .col-2 .main-logo .name {
    font-family: Core-Sans-N65-Bold, Arial, sans-serif;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0 10px 0 0;

}
.nav .col-2 .main-logo .description {
    font-family: Core-Sans-N45-Regular, Arial, sans-serif;
    font-size: 10px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0;
}
.nav .menu {
    display: flex;
    align-items: center;
}
.nav .menu .list {
    margin: 0 30px 0 0;
}
.nav .menu .list:last-child {
    margin: 0;
}
.nav .menu .list .link {
    font-family: Core-Sans-N45-Regular, Arial, sans-serif;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 0;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
}
.nav .menu .list .link:hover {
    color: rgba(255,255,255,.7);
}
.nav .menu .list .link.active {
    color: #fff;
}
.btn-burger {
    background-color: transparent;
    width: 20px;
    min-width: 20px;
    height: 12px;
    border: 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: relative;
    outline: none;
    opacity: 1;
    cursor: pointer;
    display: none;
}
.btn-burger:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    top: 3px;
}
.btn-scroll-down {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 60px;
    left: calc(50% - 20px);
    animation-name: dropdown;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
}
.btn-scroll-down .img {
    width: 100%;
    height: auto;
}
@keyframes dropdown {
    0% {transform: translateY(-4%);}
    50% {transform: translateY(4%);}
    100% {transform: translateY(-4%);}
}
.header .btn-save-resume {
    font-family: Base, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 40px;
    width: 200px;
    text-align: center;
    background: #764DFA;
    color: #fff;
    border-radius: 20px;
    margin: 20px 0 0 0;
    transition: 1s;
    border: 1px solid #fff;
}
.header .btn-save-resume:hover {
    border: 1px solid #764DFA;
    color: #764DFA;
    background: #fff;
}
.h2-title {
    font-size: 24px;
    line-height: 1em;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 0 3px 0;
    border-bottom: 2px solid #764DFA;

}

.portfolio {
    margin: 100px 0 100px 0;
    text-align: center;
}
.portfolio .list {
    margin: 25px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}
.portfolio .item {
    background: #fff;
    width: 48%;
    margin: 50px 4% 0 0;
}
.portfolio .item:nth-of-type(n+5) {
    display: none;
}
.portfolio .item:nth-of-type(2n) {
    margin: 50px 0 0 0;
}
.portfolio .item .link {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
}
.portfolio .item .link:hover {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(118,77,250,1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(118,77,250,1);
    box-shadow: 0px 0px 20px 5px rgba(118,77,250,1);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}
.portfolio .item .link .img {
    width: 100%;
    height: auto;
}
.portfolio .item .link .info {
    height: 100%;
    width: 65%;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    /*right: 0;*/
    right: -65%;
    background: #fff;
    transition: 1s;
    padding: 20px 10px;
    box-sizing: border-box;
}
.portfolio .item .link:hover .info {
    right: 0;
}
.portfolio .item .link .info .h4-title {
    font-family: Core-Sans-N65-Bold, Arial, sans-serif;
    font-size: 18px;
    line-height: 1em;
    color: #000;
}
.portfolio .item .link .info .description {
    font-family: Base, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25em;
    text-align: left;
    margin: 20px 0 0 0;
    color: #000;
}
.portfolio .item .link .info .list {
    margin: 20px 0 0 15px;
    display: block;
    text-align: left;
    font-family: Core-Sans-N65-Bold, Arial, sans-serif;
    font-size: 14px;
    list-style-type: disc;
    color: #000000;

}
.portfolio .item .link .info .item {
    margin: 5px 0 0 0;
    width: auto;
    color: #764DFA;
    font-family: Base, Arial, sans-serif;
    font-size: 14px;
    line-height: 1em;
}
.portfolio .item .link .info .item span {
    color: #000;
}
.portfolio .btn-show-more {
    display: inline-block;
    width: 100px;
    margin: 40px auto 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    background: #764DFA;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
}
.portfolio .btn-show-more:after,
.portfolio .btn-show-more:before {
    content: "";
    width: 30px;
    height: 30px;
    background: #764DFA;
    position: absolute;
    bottom: 0;
    right: -30px;
    border-radius: 50%;
    transition: 1s;
    opacity: 0;
}
.portfolio .btn-show-more:before {
    width: 15px;
    height: 15px;
    right: -55px;
}
.portfolio .btn-show-more:hover:after,
.portfolio .btn-show-more:hover::before {
    opacity: 1;
}
