@media only screen and (max-width: 660px) {

.header,
.nav {
	padding: 0px;
	height: 47px;
	min-width: auto; }

.nav {
	height: 55px;
}

.container {
	width: 360px; }

.btn_newmeeting {
	display: none;
}

.logo {
	height: 20.9px;
	width: 149px;
	margin: 14.8px 0px 11.3px 20.5px; }

.article,
.info {
	display: none;
}

.calendar_right {
	display: none;
}

.calendar_left {
	float: none;
	height: 55px;
	width: 360px;
	background-color: #FFF;
   }

.nav1 {
	display: block;
	border-bottom: 1px solid #E9ECEF;
	height: 31px;
	min-width: auto;
} 

.calendar_centr {
	margin: 0 auto;	
 	width: 360px;
}

.time {
	margin-top: 9px;
	margin-bottom: 10px;
}

.tm_1 {
	margin-left: 231px;
}

.input_date {
	height: 16px;
	width: 160px;
	margin: 18px 30px 20px 60px;
 }

.btn_cal {
	height: 32px;
  	width: 32px;
	margin: 12px 0px 12px 16px;
}

.img_left {
	padding-left: 4px;
	padding-top: 4px;
}

.btn_right {
	margin-left: 0px;
}

.nav2 {
	display: block
}

.table_mobile {
  border-collapse: collapse;
  margin: 0 auto;	
 	width: 360px; 
}

.table_mobile td {
	padding: 0;
}

.table_mobile .td_simple {
	width: 53px;
	background-color: #F6F7F9;
	height: 37px;
}

.table_mobile .td_first {
	width: 181px;
	 font-family: "HelveticaNeue", sans-serif;
	 font-weight: bold;
	font-size: 11px;
	color: #858E98;
	letter-spacing: 0.4px;
	padding-left: 16px;
}

.table_mobile .td_right {
	  border-left: 1px solid rgba(19,100,205,0.10);
}

.table_mobile .td_one {
	width: 181px;
	height: 58px;
	 font-family: "HelveticaNeue", sans-serif;
	 font-weight: bold;
	font-size: 15px;
	color: #858E98;
	line-height: 17px;
	padding-left: 16px;
}

.table_mobile .td_busy {
	width: 65px;
	height: 58px;
	background-color: #D5DFE9;
}

.span_td_low {
 font-family: "HelveticaNeue", sans-serif;
	font-size: 13px;
	line-height: 17px;
	font-weight: normal;
}

.table_mobile .td_free_one {
	color: #000;
}

.table_mobile .td_free {
	width: 65px;
	height: 58px;
	background-color: #fff;
}

.table_mobile .td_w_border {
	border-bottom: 1px solid #fff;
}

.table_mobile .td_b_border {
	border-bottom: 1px solid #E9ECEF;
}